.container{
	margin-top: 20px;
}
.form-shape {
  margin-top: 40px;
}
.form-container{
	max-width: 600px;
	margin: 30px auto 100px auto;
}
form{
	margin-bottom: 20px;
}
.form-control{
	height: 42px;
}
.btn{
	width: 95%;
	margin-left: 15px;
	height: 42px;
}
.btn,
.alert-danger{
	padding: 10px 12px;
}
.check-service.btn{
	margin-bottom: 20px;
}
ul{
	padding: 0;
	list-style: none;
}
.fa{
	margin-right: 5px
}
.response-value{
	width: 95%;
	margin-left: 15px;
	padding: 10px 12px;
	height: 42px;
	margin-bottom: 10px;
}
.blue,
.yellow,
.red{
	color: #ffffff;
	background-color: blue;
}
.yellow{
	color: #2d2d2d;
	background-color: yellow;
}
.red{
	background-color: red;
}
